{% extends 'base.html.twig' %}

{% block title %}Récupération de couvertures de livres{% endblock %}

{% block body %}
    <h1>Couvertures de livres - API BnF</h1>
    <h2>Contexte</h2>
    <p>En 2016, à l'occasion de l'organisation d'un hackathon, la BnF a <a
                href="https://github.com/hackathonBnF/hackathon2016/wiki/API-Couverture-Service">mis en ligne</a> une
        documentation de son API "couverture" qui permet de récupérer des couvertures d'ouvrage.</p>

    <p>L'inconvénient principal de cette API réside dans l'obligation pour l'utiliser, de passer en paramètre un ARK qui
        est spécifique à la BnF. L'applicatif proposé ici se propose de faire une passerelle avec un identifiant plus
        standard, l'ISBN.</p>

    <h2>Légalité</h2>
    <p>La question du droit d'auteur sur les couvertures de livres est un sujet longuement débattu et n'a pas vocation à
        être tranchée ici. La BnF propose depuis janvier 2014 la mise à disposition sous licence ouverte des notices
        produites par l'institution, on peut donc penser que la BnF ne revendique pas de droit particulier sur
        l'utilisation de ces
        images. Le service proposé ici ajoute en bas des couvertures une mention indiquant l'origine de l'image.</p>

    <p>L'API étant par ailleurs librement décrite pas la BnF on peut penser que son utilisation serait autorisée par
        l'établissement mais rien n'étant explicitement indiqué sur le site de l'institution depuis ce hackathon de
        2016, un établissement qui souhaiterait utiliser ce projet dans un cadre institutionnel est bien entendu invité
        à se rapprocher de la BnF.</p>

    <h2>Preuve de concept</h2>
    <p>
        Afin de valider la faisabilité de l'utilisation de l'API couverture de la BnF par une institution tierce, une
        API web a été développée dont le code est <a href="https://github.com/symac/covers">disponible sur Github</a>.
    </p>
    <p>Cette application est développée en PHP/mysql sur la base du framework Symfony. Cette preuve de concept
        implémente les fonctionnalités suivantes :
    <ul>
        <li>Recherche par ISBN10/13;</li>
        <li>Mise en cache des images;</li>
        <li>Ajout d'un filigrane indiquant la source;</li>
    </ul>

    <p>Plusieurs fonctionnalités seraient à revoir dans le cadre d'une mise en oeuvre réelle de l'outil :
    <ul>
        <li>meilleur gestion des cas d'erreur;</li>
        <li>gestion d'appels multiples synchronisés;</li>
    </ul></p>
    <h2>Utilisation</h2>
    <p>Le code disponible sur Github est installé sur ce serveur pour test, mais n'a bien entendu pas vocation à être
        utilisé en production. Voici cependant quelques exemples sur la manière de l'utiliser.</p>

    <p>L'url de base pour appeler l'API est la suivante
        : <br/>{{ url("ajax_single", {"isbn": '_isbn_', "size": "_size_"}) }}</p>
    <p>_size_ peut prendre l'une des valeurs suivantes :
    <ul>
        <li>small : image de {{ constant('App\\Entity\\Cover::WIDTH_SMALL') }} pixels de large</li>
        <li>medium : image de {{ constant('App\\Entity\\Cover::WIDTH_MEDIUM') }} pixels de large</li>
        <li>large : image de {{ constant('App\\Entity\\Cover::WIDTH_LARGE') }} pixels de large</li>
    </ul></p>
    <h2>Exemple</h2>
    <p>Exemple de l'appel pour l'image
    <pre><a href="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "small"}) }}">{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "small"}) }}</a></pre></p>
    <img alt="couverture de l'ouvrave 978-2-36279-267-0"
         src="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "small"}) }}"/>
    <p>
        Voir la même image :
    <ul>
        <li>en medium : <a
                    href="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "medium"}) }}">{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "medium"}) }}</a>
        </li>
        <li>en large : <a
                    href="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "large"}) }}">{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "large"}) }}</a>
        </li>
    </ul>
    </p>

    <h2>Informations complémentaires</h2>
    <p>Si besoin de me contacter vous trouverez mon adresse sur <a href="http://www.geobib.fr/contact">cette page</a>,
        vous pouvez aussi me trouver <a href="https://www.twitter.com/symac">sur twitter</a>
    </p>
{% endblock %}
