{% extends 'base.html.twig' %}

{% block title %}Récupération de couvertures de livres{% endblock %}

{% block body %}
    <h1>Couvertures de livres - API BnF</h1>
    <h2>Contexte</h2>
    <p>En 2016, à l'occasion de l'organisation d'un hackathon, la BnF a <a
                href="https://github.com/hackathonBnF/hackathon2016/wiki/API-Couverture-Service">mis en ligne</a> une
        documentation de son API "couverture" qui permet de récupérer des couvertures d'ouvrage.</p>

    <p>L'inconvénient principal de cette API réside dans l'obligation pour l'utiliser, de passer en paramètre un ARK qui
        est spécifique à la BnF. L'applicatif proposé ici se propose de faire une passerelle avec un identifiant plus
        standard, l'ISBN.</p>

    <h2>La question des jaquettes dans les catalogues de bibliothèque</h2>
    <p>L'enrichissement des catalogues de bibliothèques par l'utilisation de couvertures d'ouvrages est une question qui
        se pose de longue date, plusieurs offres existent, qu'elles soient payantes (Electre, Zebris, ...) ou gratuites
        avec contrepartie (Amazon, Google Books). </p>
    <p>Aucune offre publique n'a (à ma connaissance) jamais vu le jour, et ce qui s'en rapproche le plus à l'heure
        actuelle est l'API que la BnF <a
                href="https://github.com/hackathonBnF/hackathon2016/wiki/API-Couverture-Service">décrit sur Github</a>.
    </p>
    <p>Si la BnF décrit cette API sur Github, je n'ai pas réussi à trouver
        d'information officielle de la BnF concernant la possibilité offerte à une bibliothèque de l'utiliser
        pour enrichir son propre catalogue.</p>
    <p>Depuis janvier 2014 la BnF met à disposition sous licence ouverte les notices qu'elle produit, mais rien n'est
        dit pour ces images. Si la BnF n'est bien entendu pas titulaire des droits d'auteur sur ces illustrations,
        dispose-t-elle d'une autorisation de distribution, ce point n'est pas précisé.</p>
    <p>Le service proposé ici ajoute en bas des couvertures une mention indiquant l'origine de l'image et propose une
        preuve de concept, mais pour une mise en oeuvre en situation réelle, il conviendrait bien entendu de préciser
        cet aspect légal.</p>

    <h2>Preuve de concept</h2>
    <p>
        Afin de valider la faisabilité de l'utilisation de l'API couverture de la BnF par une institution tierce, une
        API web a été développée dont le code est <a href="https://github.com/symac/covers">disponible sur Github</a>.
    </p>
    <p>Cette application est développée en PHP/mysql sur la base du framework Symfony. Cette preuve de concept
        implémente les fonctionnalités suivantes :
    <ul>
        <li>Recherche par ISBN10/13;</li>
        <li>Mise en cache des images;</li>
        <li>Ajout d'un filigrane indiquant la source;</li>
    </ul>

    <p>Plusieurs fonctionnalités seraient à revoir dans le cadre d'une mise en oeuvre réelle de l'outil :
    <ul>
        <li>meilleur gestion des cas d'erreur;</li>
        <li>gestion d'appels multiples synchronisés;</li>
    </ul></p>
    <h2>Utilisation</h2>
    <p>Le code <a href="https://github.com/symac/covers">disponible sur Github</a> est installé sur ce serveur pour en
        valider le principe fonctionnel.</p>

    <p>L'url de base pour appeler l'API est la suivante
        : <br/>{{ url("ajax_single", {"isbn": '_isbn_', "size": "_size_"}) }}</p>
    <p>_size_ peut prendre l'une des valeurs suivantes :
    <ul>
        <li>small : image de {{ constant('App\\Entity\\Cover::WIDTH_SMALL') }} pixels de large</li>
        <li>medium : image de {{ constant('App\\Entity\\Cover::WIDTH_MEDIUM') }} pixels de large</li>
        <li>large : image de {{ constant('App\\Entity\\Cover::WIDTH_LARGE') }} pixels de large</li>
    </ul></p>
    <h2>Exemple</h2>
    <p>Exemple de l'appel pour l'image
    <pre><a href="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "small"}) }}">{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "small"}) }}</a></pre></p>
    <img alt="couverture de l'ouvrave 978-2-36279-267-0"
         src="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "small"}) }}"/>
    <p>
        Voir la même image :
    <ul>
        <li>en medium : <a
                    href="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "medium"}) }}">{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "medium"}) }}</a>
        </li>
        <li>en large : <a
                    href="{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "large"}) }}">{{ url("ajax_single", {isbn: "978-2-36279-267-0", size: "large"}) }}</a>
        </li>
    </ul>
    </p>

    <h2>Informations complémentaires</h2>
    <p>Si besoin de me contacter vous trouverez mon adresse sur <a href="http://www.geobib.fr/contact">cette page</a>,
        vous pouvez aussi me trouver <a href="https://www.twitter.com/symac">sur twitter</a>
    </p>
    <p>Page mise en ligne le 26 avril 2020 par Sylvain Machefert.</p>

{% endblock %}
